{
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "overrides": [
        {
            "files": ".prettierrc",
            "options": {
                "parser": "json"
            }
        },
        {
            "files": "*.yml",
            "options": {
                "tabWidth": 4,
                "singleQuote": true
            }
        }
    ]
}
