.nav-folder-title[data-count]::after {
  content: attr(data-count);
  display: inline-block;
  position: relative;
  font-size: 12px;
  line-height: 12px;
  border-radius: 3px;
  padding: 2px 4px;
  background-color: var(--background-secondary-alt);
}

body:not(.oz-show-all-num)
  .nav-folder:not(.is-collapsed)
  > .nav-folder-title.oz-with-subfolder[data-count]::after {
  display: none;
}
